<div class="card mt-2">
  <div class="card-body">
    <p>Name: Name</p>
    <p>Surname: Surname</p>
    <p>Patronymic: Patronymic</p>
    <p>Phone number: +996 XXX YYY YYY</p>
    <p>Place of work/study: somewhere</p>
    <p>T-Shirt option: male</p>
    <p>Size: S</p>
    <p>Description: description</p>
    <p>Skill: VUE.JS, level: intermediate</p>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-secondary"><i class="fas fa-edit"></i></button>
    <button class="btn btn-danger ml-1"><i class="far fa-trash-alt"></i></button>
  </div>
</div>

